.banner-container {
  position: relative;
}

.banner-image {
  width: 100%;
  height: auto;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Ajusta la opacidad según sea necesario */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.banner-text h1,
.banner-text p,
.banner-text button {
  margin-bottom: 20px;
  background-color: transparent; /* Ajusta según sea necesario */
}

.banner-text h1 {
  font-size: 2.5em;
}

.banner-text p {
  font-size: 1.2em;
}

.banner-text button {
  font-size: 1.2em;
  color: #fff;
  border-color: #fff;
}

.row {
  margin-top: 20px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5em;
}

.card-text {
  font-size: 1.1em;
}
