.profile-container {
  /* padding: 1rem; */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: auto !important;
  margin-left: auto;
  margin-right: auto;
}

.profile-title {
  color: #007bff;
  text-align: center;
  margin-bottom: 20px;
}

.profile-form {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
}

.password-toggle {
  cursor: pointer;
}

.edit-button {
  font-size: 18px;
  color: #007bff;
  font-family: inherit;
  cursor: pointer;
  position: relative;
  border: none;
  background-color: rgb(226, 226, 226);
  margin-top: 1.5rem;
  padding: 0.8rem;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.edit-button:focus,
.edit-button:hover {
  color: #007bff;
}

.edit-button:focus:after,
.edit-button:hover:after {
  width: 100%;
  left: 0%;
}

.edit-button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #007bff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

#centrar {
  display: flex;
  align-items: center;
  justify-content: center;
}
