.edit-button {
  font-size: 18px;
  color: #007bff;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background-color:rgb(226, 226, 226);
  margin-top: 3rem;
  padding: 1rem;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.edit-button:focus,
.edit-button:hover {
  color: #007bff;
}

.edit-button:focus:after,
.edit-button:hover:after {
  width: 100%;
  left: 0%;
}

.edit-button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #007bff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
}
